<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a postdoctoral fellow at the
      <a class="underline-link" href="https://www.mpe.mpg.de/CAS-de" target="_blank">Centre for Astrochemical Studies (CAS)</a> at the Max Planck Institute for Extraterrestrial Physics in Garching bei München (Germany).
      My research focusses on astrochemistry, in particular, when and how do interstellar complex moelcules form and how does interstellar chemistry evolve during star and planet formation.
      Before moving to Bavaria, I've been living in Bonn, Germany, for 10 years, where I obtained my BSc in Physics and MSc in Astrophysics from
      <a class="underline-link" href="https://www.uni-bonn.de/de/startseite" target="_blank">Bonn University</a> 
      and my Ph.D in Astronomy/Astrophysics at the
      <a class="underline-link" href="https://www.mpifr-bonn.mpg.de/" target="_blank">Max Planck Institute for Radioastronomy</a> 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
