<section class="section others">
  <div class="section__title">Out of office</div>

  <div class="project">
    <figure class="project__pic pic-freetime">
      <a>
        <img src="{{site.baseurl}}/img/dance2.jpg" alt="">
        <img src="{{site.baseurl}}/img/Dance.jpg" alt="">
      </a>
    </figure> 

    <figcaption class="project__caption cap-freetime">
      <p>If I'm not working , I'm probably dancing in a commercial, heels, or hip hop class just for fun or as preparation for show. (Right figure: &copy; S. Wagner)</p>
    </figcaption>

    <figure class="project__pic pic-freetime2">
      <a>
        <img src="{{site.baseurl}}/img/Dive.jpg" alt="">
        <img src="{{site.baseurl}}/img/shark.jpg" alt="">
      </a>
    </figure> 

    <figcaption class="project__caption cap-freetime">
      <p>And if I take a break from exploring the unknowns up in space, I love to explore our planet, especially, the mysteries of the underwater world deep down (max. 30m)</p>
    </figcaption>
  </div>
</section>