<section class="section others">
  <div class="section__title">Out of office</div>

  <div class="project">
    <figure class="project__pic pic-freetime">
      <a>
        <img src="{{site.baseurl}}/img/dance2.jpg" alt="">
        <img src="{{site.baseurl}}/img/Dance.jpg" alt="">
      </a>
    </figure> 

    <figcaption class="project__caption cap-freetime">
      <p>When I'm not working, you'll probably find me at the dance studio in a commercial, heels, or hip-hop class. (Right figure: &copy; S. Wagner)</p>
    </figcaption>

    <figure class="project__pic pic-freetime2">
      <a>
        <img src="{{site.baseurl}}/img/Dive.jpg" alt="">
        <img src="{{site.baseurl}}/img/shark.jpg" alt="">
      </a>
    </figure> 

    <figcaption class="project__caption cap-freetime">
      <p>And when I take a longer break from exploring the unknowns up in space, I love exploring our planet, especially the mysteries of the underwater world (max. 30m)</p>
    </figcaption>
  </div>
</section>