
<section class="section featured-projects">
  <div class="section__title">Research</div>

    <div class="project IRAS 4B outflow">
    <figure class="project__pic">
      <a href="https://ui.adsabs.harvard.edu/abs/2026A%26A...708A.315B/abstract" target="_blank">
        <div class="IRAS 4B">
          <img src="{{site.baseurl}}/img/research/laura_final_4b.png" alt="">
        </div>
      </a>
    </figure>
    <figcaption class="project__caption">
      <div class="project__name">
        <a href="https://ui.adsabs.harvard.edu/abs/2026A%26A...708A.315B/abstract" target="_blank">IRAS 4B outflow</a>
      </div>
    </figcaption>
  </div>
<br>

  <div class="section__content">
    <div class="project 12C/13C">
      <figure class="project__pic">
        <a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...699A.359B/abstract" target="_blank">
          <img src="{{site.baseurl}}/img/research/Ratios_all.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...699A.359B/abstract" target="_blank"><sup>12</sup>C/<sup>13</sup>C Ratios</a>
        </div>
        <p> Low <sup>12</sup>C/<sup>13</sup>C ratios towards Class 0/I protostellar systems, based on PRODIGE data</p>
      </figcaption>
    </div>
<br>

    <div class="project Sgr B2 outflow">
      <figure class="project__pic">
        <a href="https://ui.adsabs.harvard.edu/abs/2024A%26A...681A.104B/abstract" target="_blank">
          <img src="{{site.baseurl}}/img/research/SgrB2_overview.png" alt="">
          <img src="{{site.baseurl}}/img/research/SgrB2_outflow_chem.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://ui.adsabs.harvard.edu/abs/2024A%26A...681A.104B/abstract" target="_blank">Sgr B2 outflow</a>
        </div>
        <p>New perspective on O/N dichotomy</p>
      </figcaption>
    </div>
  </div>
</section>
